
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    
}

.container {    
    width: 500px;
    position: relative; 
  }
.form-group{
    margin-top: 30px;
    display: block;
  }

