<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
  <div class="container">
    <h2 class="text-center">BMI Calculator</h2>
    <form action="/result" method="POST">
      <select class="form-control" id="units" name="units">
        <option value="metric">Metric</option>
        <option value="imperial">Imperial</option>
      </select>

      <div class="form-group">
        <label for="height">Height (in <span id="heightUnit">cm</span>)</label>
        <input type="number" class="form-control" name="height" id="height" required>
      </div>

      <div class="form-group">
        <label for="weight">Weight (in <span id="weightUnit">kg</span>)</label>
        <input type="number" class="form-control" name="weight" id="weight" required>
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary btn-block">Calculate BMI</button>
    </form>

    <h3 class="mt-4" id="result"></h3>
  </div>

  <script src="./scripts/unitHandling.js"></script>
</body>
</html>
